*{
    margin: 0;
}

.contenedor{
    background: rgb(0, 255, 242);
    width: 100vw;
    height: 100vh;
    text-align: center;

}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#AmigosBtn{
    transform: translate(-150%,10);
}

#AmigosconBeneficiosBtn{
    
    transform: translate(-150%,10);
}

#ParejaBtn{
    
    transform: translate(-150%,30);
    
}
